body{
    background-color: rgb(10, 90, 238);
}
#mainBox2{
    max-width: 350px;
    max-height: 550px;
    padding: 30px 20px;
    margin: 100px auto;
    /* font-size: medium; */
    border: 1px solid #000;
    border-radius: 15px 10px;
    background-color: white;
}
.registrationDetail{
    margin: 30px 20px 10px;
    font-size: medium;
    border-bottom: 3px solid #000;
    opacity: 50%;
    input{
        border: none;
        font-size: large;
    }
}
h1{
    margin: auto 20px 50px;
    padding: auto 20px 30px;
    span{
        border-bottom: 3px solid blue;
    }
}
#termCondition{
    margin: auto 20px 20px;
    padding: 10px;
    font-size: medium;
}
#button{
    margin: auto 10px 20px;
    padding: 0;
    border: 1px solid blue;
    text-align: center;
    font-size: medium;
    background-color: blue;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
#haveAccount{
    margin-bottom: auto;
    padding-bottom: auto;
    text-align: center;
    font-size: medium;
    #loginNow{
        color: blue;
    }
}