@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
*{
    background-color: cadetblue;
}
h1{
    text-align: center;
    background: linear-gradient(55deg, pink 0, rgb(139, 105, 42) 30%,rgb(182, 182, 32) 60%, pink );
}
p{
    font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}