@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Stack+Sans+Text:wght@200..700&display=swap");
* {
  padding: 0;
  margin: 0;
  /* background-color: white; */
  /* font-family: "Stack Sans Text", sans-serif;
    font-optic[al-sizing: auto;
    font-style: normal; */

  font-family: Roboto, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

#navBar {
  position: sticky;
  top: 0;
  background-color: white;
  border: 2px solid red;
  padding: 20px;
  font-size: x-large;
  display: flex;
  justify-content: space-between;

  #middleCol {
    padding-top: 15px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    font-family: "Lora", serif;
    font-size: 900;
    font-style: normal;
    cursor: pointer;
  }
  #leftCol {
    padding-top: 15px;
    font-size: xx-large;
    font-weight: bolder;
  }
  #signButton {
    border: 0;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: large;
    cursor: pointer;
  }
  #signButton:hover {
    background-color: rgb(220, 223, 233);
  }
  #blockButton {
    border: 0;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: large;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
  }
}
#content {
  width: auto;
  padding: 50px;
  display: flex;
  gap: 150px;
  justify-content: space-between;

  #welcomeContent {
    padding: 50px auto;
    margin: 200px auto;
    font-size: xx-large;
    h4 {
      padding: 20px auto;
      margin: 50px auto;
      color: grey;
    }
    #emailText {
      margin-bottom: 20px;
      font-size: x-large;
    }
    #emailBox {
      input {
        padding: 15px 150px 15px 10px;
        margin-right: 10px;
        border: 2px solid #000;
        border-radius: 10px;
        font-size: x-large;
      }
      button {
        padding: 20px 80px;
        border: 3px #000;
        margin-left: 10px;
        font-size: large;
        border-radius: 10px;
        background-color: #000;
        color: white;
        cursor: pointer;
      }
    }
    #termCondition {
      margin-top: 20px;
      font-size: 23px;
      color: grey;
      span {
        border-bottom: 2px solid #000;
      }
    }
  }
  #imageContent {
    img {
      margin-top: 50px;
      width: 800px;
      height: 800px;
      border-radius: 50px;
    }
  }
}
#clients {
  margin: 30px auto;
  padding: 30px auto;
  #myClients {
    text-align: center;
    font-size: 30px;
  }
  img {
    margin: 30px 430px 30px 430px;
    width: max-content;
  }
}
#skills {
  margin-top: 50px;
  text-align: center;
  #mySkills {
    padding: 10px;
    margin: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  h1 {
    padding: 10px;
    margin: 10px;
    font-size: 75px;
    font-weight: bold;
  }
  p {
    margin: 50px 150px;
    font-size: xx-large;
    font-weight: bold;
    color: gray;
  }
}
#skillTop {
  text-align: center;
  margin: 100px;
  display: flex;
  gap: 100px;
  flex-direction: row;
}
#skillBottom {
  text-align: center;
  margin: 100px;
  display: flex;
  gap: 100px;
  flex-direction: row;
}
.skillClass {
  img {
    border-radius: 50%;
  }
  .textHeader {
    font-size: 13px;
    margin: 20px;
  }
  .textDetail {
    margin: 20px;
    font-size: 20px;
    color: gray;
  }
}
#project {
  /* text-align: center; */
  #projectHeader {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
  }
  #projectDetail {
    text-align: center;
    padding: 10px 100px;
    margin: 30px 450px;
    font-size: 30px;
    color: gray;
  }
}
#projectTop {
  margin: 3%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}
#projectBottom {
  margin: 3%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
}
.projectClass {
  img {
    width: 350px;
    height: 300px;
    border-radius: 15px;
  }
  .projectName {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .projectDescription {
    margin: auto 20px 20px auto;
    font-size: 25px;
    color: gray;
  }
  button {
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #000;
    color: white;
    cursor: pointer;
  }
}
#resume {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  #myResume {
    width: 50%;
    margin: auto 50px;
    h1 {
      padding: auto 20px;
      margin: 20px auto;
      font-size: 50px;
    }
    p {
      padding: auto 20px;
      margin: 20px auto;
      font-size: xx-large;
      color: gray;
    }
    button {
      padding: 20px 40px;
      border: none;
      border-radius: 15px;
      font-weight: bolder;
      font-size: large;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(233, 229, 229);
    }
  }
  #resumeDetail {
    width: 50%;
    .resumeData {
      margin: 50px;
      font-size: xx-large;
      color: gray;
    }
  }
}
#client {
  margin: 50px;
  padding: 20px;
  text-align: center;
  #clientHeader {
    margin: auto;
    padding: 20px;
    font-size: 25px;
  }
  #clientWord {
    margin: 20px 20%;
    font-size: 35px;
    color: gray;
  }
}
#aboutDeveloper {
  margin: 10% 10%;
  display: flex;
  justify-content: space-between;
  #developer {
    width: 50%;
    #developerHeading {
      margin-bottom: 20px;
      width: 50%;
      font-size: 30px;
    }
    #developerDetail {
      font-size: xx-large;
      color: gray;
      margin-bottom: 20px;
    }
    #developerName{
      h4{
      font-size: 30px;
      margin-bottom: 15px;
      }
      div{
        margin-bottom: 20px;
        font-size: 25px;
        color: gray;
      }
    }
    #developerImage{
      /* border-right: 3px solid #000; */
      img{
        margin-right: 25px;
        border-radius: 15px;
        width: 60px;
        height: 60px;
        opacity: 50%;
        cursor: pointer;
      }
    }
    #developerImage:hover{
      opacity: 100%;
    }
  }
  #developerImageRight{
    margin: auto 15px;
    img{
      width: 450px;
      height: 550px;
      border-radius: 20px;
    }
  }
}
#popularClient{
  margin: auto 30%;
  text-align: center;
  div{
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
    color: gray;
  }
  h1{
    font-size: 55px;
    margin-bottom: 50px;
  }
}
#logo{
  margin: auto 10%;
  display: flex;
  justify-content: space-evenly;
  img{
    width: 250px;
    height: 250px;
  }
}
#logo1{
  margin: auto 10%;
  display: flex;
  justify-content: space-evenly;
  img{
    width: 250px;
    height: 250px;
  }
}
#contactUs{
  margin: 30px 20%;
  text-align: center;
  h1{
    font-size: 55px;
    margin-bottom: 20px;
  }
  div{
    margin: auto 10%;
    font-size: 30px;
    color: gray;
  }
}
#formBox{
  margin: 50px;
  border: 2px solid rgb(247, 245, 245);
  border-radius: 15px;
  box-shadow: 5px 5px gray;
  display: flex;
  justify-content:baseline;
  #contactInformation{
    height: auto;
    /* padding: 20px; */
    background-color: #000;
    margin: 50px;
    border: 2px solid #000;
    color: white;
    border-radius: 15px;
    #contactHeader{
      margin: 60px auto auto 50px;
      font-size: 40px;
    }
    #remaider{
      margin: 30px 50px 10px 50px;
      font-size: x-large;
      color: gray;
    }
    .call{
      margin: 30px auto 10px 50px;
      padding: 10px;
      font-size: xx-large;
    }
  }
  #formDesign{
    color: rgb(92, 90, 90);
    margin: 50px auto 20px 20px;
    font-size: 30px;
    #firstName{
      width: 100%;
      margin: 20px auto;
      font-size: x-large;
      border: none;
      border-bottom: 2px solid #000;
    }
    #lastName{
      width: 100%;
      margin: 20px auto;
      border: none;
      font-size: x-large;
      border-bottom: 2px solid #000;
    }
    #email{
      width: 100%;
      margin: 20px auto;
      font-size: x-large;
      border: none;
      border-bottom: 2px solid #000;
    }
    #checkBox{
      margin: 50px auto;
      input{
        margin: auto 20px;
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
    }
    #blank{
      width: 100%;
      margin: 50px auto;
      border: none;
      font-size: x-large;
      border-bottom: 2px solid #000;
    }
    button{
      margin: 10px 20px 10px 70%;
      padding: 15px 30px;
      background-color: #000;
      border-radius: 15px;
      color: white;
      font-size: large;
      cursor: pointer;
    }
  }
}


hr{
  margin: 250PX 30PX 10px 30px;
}
#footer{
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
  #footerLeft{
    margin: auto 30px;
    font-size: large;
    color: gray;
  }
  #footerRight{
    display: flex;
    justify-content: space-between;
    div{
      margin: auto 30px;
      font-size: x-large;
      color: gray;
    }
    button{
      background-color: black;
      color: white;
      padding: 15px 30px;
      font-size: x-large;
      border-radius: 15px;
      cursor: pointer;
    }
  }
}