#mainBox {
  border: 1px solid #000;
  margin: 50px;
  padding: 20px;
  width: 90%;
  display: flex;
  gap: 20px;
  background-color: aqua;
}
.color {
  border: 1px solid #000;
  padding: 20px;
  width: 50%;
  background-color: white;
}
#heading1 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
p {
  padding: 25px;
}
#colorFill {
  font-size: x-large;
}
.colorType {
  padding: 20px;
  width: 70%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
